	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/04/2017 17:15
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-clothes-6:before { content: "\f100"; }
.flaticon-christmas-1:before { content: "\f101"; }
.flaticon-clothes-5:before { content: "\f102"; }
.flaticon-fashion-2:before { content: "\f103"; }
.flaticon-summer:before { content: "\f104"; }
.flaticon-clothes-4:before { content: "\f105"; }
.flaticon-clothes-3:before { content: "\f106"; }
.flaticon-clothes-2:before { content: "\f107"; }
.flaticon-food:before { content: "\f108"; }
.flaticon-fashion-1:before { content: "\f109"; }
.flaticon-climbing:before { content: "\f10a"; }
.flaticon-clothes-1:before { content: "\f10b"; }
.flaticon-man:before { content: "\f10c"; }
.flaticon-clothes:before { content: "\f10d"; }
.flaticon-christmas:before { content: "\f10e"; }
.flaticon-money-1:before { content: "\f10f"; }
.flaticon-fashion:before { content: "\f110"; }
.flaticon-holidays:before { content: "\f111"; }
.flaticon-money:before { content: "\f112"; }
.flaticon-weather:before { content: "\f113"; }
.flaticon-overall:before { content: "\f114"; }
.flaticon-coat:before { content: "\f115"; }
.flaticon-dress-4:before { content: "\f116"; }
.flaticon-shorts-1:before { content: "\f117"; }
.flaticon-skirt:before { content: "\f118"; }
.flaticon-jacket-4:before { content: "\f119"; }
.flaticon-necklace:before { content: "\f11a"; }
.flaticon-dress-3:before { content: "\f11b"; }
.flaticon-trench-coat:before { content: "\f11c"; }
.flaticon-shopping-bag:before { content: "\f11d"; }
.flaticon-basketball-jersey:before { content: "\f11e"; }
.flaticon-underwear:before { content: "\f11f"; }
.flaticon-dress-2:before { content: "\f120"; }
.flaticon-hand-bag-1:before { content: "\f121"; }
.flaticon-belt:before { content: "\f122"; }
.flaticon-pullover:before { content: "\f123"; }
.flaticon-dress-1:before { content: "\f124"; }
.flaticon-brassiere:before { content: "\f125"; }
.flaticon-portfolio:before { content: "\f126"; }
.flaticon-high-hells:before { content: "\f127"; }
.flaticon-jacket-3:before { content: "\f128"; }
.flaticon-panties:before { content: "\f129"; }
.flaticon-jacket-2:before { content: "\f12a"; }
.flaticon-shirt-2:before { content: "\f12b"; }
.flaticon-shorts:before { content: "\f12c"; }
.flaticon-gloves:before { content: "\f12d"; }
.flaticon-bow-tie:before { content: "\f12e"; }
.flaticon-socks:before { content: "\f12f"; }
.flaticon-glasses:before { content: "\f130"; }
.flaticon-hand-bag:before { content: "\f131"; }
.flaticon-boot:before { content: "\f132"; }
.flaticon-pijama:before { content: "\f133"; }
.flaticon-wristwatch:before { content: "\f134"; }
.flaticon-high-heels:before { content: "\f135"; }
.flaticon-tie:before { content: "\f136"; }
.flaticon-hat:before { content: "\f137"; }
.flaticon-winter-hat:before { content: "\f138"; }
.flaticon-jacket-1:before { content: "\f139"; }
.flaticon-jacket:before { content: "\f13a"; }
.flaticon-hoodie:before { content: "\f13b"; }
.flaticon-shoe:before { content: "\f13c"; }
.flaticon-suitcase:before { content: "\f13d"; }
.flaticon-cap:before { content: "\f13e"; }
.flaticon-jeans:before { content: "\f13f"; }
.flaticon-backpack:before { content: "\f140"; }
.flaticon-sneaker:before { content: "\f141"; }
.flaticon-shirt-1:before { content: "\f142"; }
.flaticon-polo:before { content: "\f143"; }
.flaticon-shirt:before { content: "\f144"; }
.flaticon-dress:before { content: "\f145"; }
.flaticon-medical:before { content: "\f146"; }
.flaticon-shape:before { content: "\f147"; }
.flaticon-internet:before { content: "\f148"; }
