body{
  background-color: #f1f2f1;
  margin: 0px;
}

@keyframes anim { 50% { opacity: 0; } }

.splash{
  height: 75vh;
  transition: all 0.3s 1s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-text {
  font-family: 'Roboto Mono', sans-serif;
  color: #41465D;
  font-size: 15vw;
  animation: anim 1s ease infinite alternate;
}
