body{
  background-color: #f1f2f1;
  margin: 0px;
}

@keyframes anim { 50% { opacity: 0; } }

.splash{
  background-color: #f1f2f1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  transition: all 0.3s 1s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.splash-text {
  font-family: 'Roboto Mono', sans-serif;
  color: #41465D;
  font-size: 15vw;
  font-weight: 300;
  animation: anim 1s ease infinite alternate;
  padding-bottom: 15vh;
  margin: 0px;
}

.splash-subtext {
  font-family: 'Roboto Mono', sans-serif;
  color: #41465D;
  font-size: 7vw;
  font-weight: 300;
  margin: 0px;
  /*padding-bottom: 15vh;*/
}
