body{
  background-color: #f1f2f1;
}

.splash{
  height: 100vh;
  transition: all 0.3s 1s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-text {
  color: hsla(0, 0%, 0%, .9);
  font: normal 140px 'Roboto Mono', sans-serif;
  height: 140px;
  left: 0;
  letter-spacing: 5px;
  margin: -80px 0 0 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  animation: move linear 2000ms infinite;
}

@media (max-width: 640px) {
  .splash-text {
    font-size: 48px;
  }
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 #41465D,
      3px -3px 0 #41465D,
      2px -2px 0 #41465D,
      1px -1px 0 #41465D,
      -4px 4px 0 #ACD0C0,
      -3px 3px 0 #ACD0C0,
      -2px 2px 0 #ACD0C0,
      -1px 1px 0 #ACD0C0
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 #ACD0C0,
      -3px -3px 0 #ACD0C0,
      -2px -2px 0 #ACD0C0,
      -1px -1px 0 #ACD0C0,
      4px 4px 0 #41465D,
      3px 3px 0 #41465D,
      2px 2px 0 #41465D,
      1px 1px 0 #41465D
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 #41465D,
      -3px 3px 0 #41465D,
      -2px 2px 0 #41465D,
      -1px 1px 0 #41465D,
      4px -4px 0 #ACD0C0,
      3px -3px 0 #ACD0C0,
      2px -2px 0 #ACD0C0,
      1px -1px 0 #ACD0C0
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 #ACD0C0,
      3px 3px 0 #ACD0C0,
      2px 2px 0 #ACD0C0,
      1px 1px 0 #ACD0C0,
      -4px -4px 0 #41465D,
      -3px -3px 0 #41465D,
      -2px -2px 0 #41465D,
      -1px -1px 0 #41465D
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 #41465D,
      3px -3px 0 #41465D,
      2px -2px 0 #41465D,
      1px -1px 0 #41465D,
      -4px 4px 0 #ACD0C0,
      -3px 3px 0 #ACD0C0,
      -2px 2px 0 #ACD0C0,
      -1px 1px 0 #ACD0C0
    ;
  }
}
